---
name: Publish package to GitHub Packages
on:
  release:
    types: [ created ]
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Cache maven repository
        id: cache-mvn
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Maven
        uses: stCarolas/setup-maven@v4.5

      - name: Publish package (only Engine, not plugin)
        run: mvn --batch-mode deploy
        working-directory: ./nex-engine
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
